{{ define "Login" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Go Auth</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
  <!-- <form method="POST" action="/loginprocess"> -->
  <form method="POST">
    <div class="form-row form-group">
      <div class="form-group col-md-2">
      </div>
      <div class="form-group col-md-4">
        <h1>Login - Go Auth</h1>
      </div>
      <div class="form-group col-md-4">

      </div>
      <div class="form-group col-md-2">
      </div>
    </div>

    <div class="form-row form-group">
      <div class="form-group col-md-2">
      </div>
      <div class="form-group col-md-4">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
      </div>
      <div class="form-group col-md-4">

      </div>
      <div class="form-group col-md-2">
      </div>
    </div>

    <div class="form-row form-group">
      <div class="form-group col-md-2">
      </div>
      <div class="form-group col-md-4">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
      </div>
      <div class="form-group col-md-4">
      </div>
      <div class="form-group col-md-2">
      </div>
    </div>

    <div class="form-row form-group">
      <div class="form-group col-md-2">
      </div>
      <div class="form-group col-md-4">
        <button type="submit" class="btn btn-primary">Sign In</button>
        <a href="/register" type="submit" class="btn btn-outline-primary">Sign Up</a>
        <a href="/" type="submit" class="btn btn-outline-secondary">Home</a>
      </div>
      <div class="form-group col-md-4">
      </div>
      <div class="form-group col-md-2">
      </div>
    </div>
  </form>

</body>

</html>

{{ end }}